* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    .theme-button {
        line-height: 44px;
        padding: 0px 20px;
    }
}

.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}

a,
a:hover {
    text-decoration: none;
}

.header-section {
    max-width: 750px;
    margin: 0 auto;
}

.header-section h3 {
    color: #000;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.header-section p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
}

p {
    margin: 0;
    padding: 0;
    color: #5a5a5a;
}

/* Light Mode */
#myBody {
    background-color: white;
}

#switchButton {
    background-color: white;
}

#switchButton .fa-sun {
    display: none;
}

#switchButton .fa-moon {
    display: block;
}

/* Dark Mode */
.dark#myBody {
    background-color: white;
}

.dark #switchButton {
    background-color: black;
}

.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}

.dark header {
    background-color: black;
    color: white;
}

.dark .navbar-expand-lg .navbar-nav .nav-link {
    color: white;
}

.dark .wcu {
    background-color: black;
    color: white;
}

.dark .wcu .s-block {
    background: #afafaf;
}

.dark .header-section h3 {
    color: white;
}

.dark .about {
    background-color: #222;
    color: white;
}

.dark .about .book-info h3 {
    color: white;
}

.dark .succeed {
    background-color: #222;
    color: white;
}

.dark .succeed .stats_info {
    background-color: #afafaf;
}

/* HEADER */

header {
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

.navbar {
    padding: 0;
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    color: #dc4f72;
    letter-spacing: -1px;
}

.navbar .navbar-brand:hover {
    opacity: 0.95;
}

.navbar .navbar-brand img {
    max-width: 140px;
    transition: all 0.5s ease;
}

.navbar-expand-lg .navbar-nav .nav-link span.fa {
    font-size: 14px;
    padding-left: 2px;
    font-weight: 400;
}

a.nav-link:before,
a.dropdown-item:before {
    position: absolute;
    content: "";
    background: #dc4f72;
    width: 0px;
    height: 2px;
    bottom: 13px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:before,
a.dropdown-item:hover:before {
    width: 20px;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
    transition: all 0.5s ease;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: #dc4f72;
}

.navbar-expand-lg .navbar-nav .nav-link.phone span.fa {
    font-size: 18px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #dc4f72;
}

a.dropdown-item {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    position: relative;
    padding-top: 0;
    padding-bottom: 14px;
}

a.dropdown-item:hover {
    color: #dc4f72;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    transform: translateX(-50px);
}

.navbar-expand-lg .navbar-nav .dropdown-menu:before {
    content: "";
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: block;
    border-right: none;
    border-bottom: none;
    transform: translateX(-50%) rotateZ(45deg);
    position: absolute;
    top: -7px;
    left: 49%;
    z-index: 1001;
}

header.nav-fixed {
    padding: 0px;
    background-color: #fff;
    height: 70px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

nav ul li {
    display: inline-block;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all 0.5s;
}

nav ul li a:hover {
    color: #fff;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    border-radius: 5px;
    min-width: 11rem;
    padding: 1rem 0 0.3rem;
}

.nav-fixed .navbar-expand-lg .navbar-nav .nav-link {
    color: #333;
    opacity: 0.95;
}

.nav-fixed .navbar-expand-lg .navbar-nav li.nav-item.active .nav-link {
    color: #dc4f72;
}

.nav-fixed .navbar-expand-lg .navbar-brand {
    color: #dc4f72;
}

.nav-fixed .navbar-expand-lg .navbar-brand span {
    color: #dc4f72;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #5a5a5a;
    text-decoration: none;
    background-color: transparent;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #000;
    background-color: transparent;
}

/* CAROUSEL */

.masterCarousel {
    margin-top: 90px;
}

.masterCarousel .content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #ffffff;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
        url(../img/banner.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    padding-top: 5rem;
}

.masterCarousel .content-photo img {
    transform: rotate(180deg);
}

.masterCarousel .content-left h3 {
    font-size: 50px;
    line-height: 57.5px;
    color: #000;
    font-weight: 700;
}

.masterCarousel .content-left p {
    color: #5a5a5a;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
}

/* WHY CHOOSE US */

.wcu .s-block {
    border-radius: 6px;
    transition: 0.3s ease-in;
    background: #f7f9fc;
    padding: 3rem 2rem;
    border: 1px solid #f7f9fc;
}

.wcu .s-block:hover {
    transition: 0.3s ease-in;
    background-color: #ffffff;
    border: 1px solid #eee;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transform: translateY(-0.5rem);
}

.wcu .s-block h3 {
    color: #000;
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
}

.wcu .s-block p {
    color: #5a5a5a;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;
}

/* ABOUT */

.about {
    background-color: #f7f9fc;
}

.about .book-info h3 {
    font-size: 35px;
    line-height: 40px;
    color: #000;
    font-weight: 700;
}

.about .book-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #5a5a5a;
    line-height: 24.4px;
}

/* SUCCEED */

.succeed {
    background: #f7f9fc;
}

.succeed p.counter {
    font-size: 50px;
    line-height: 1;
    color: #dc4f72;
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}

.succeed .stats_info h4 {
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: #000;
    font-weight: 700;
}

.succeed .stats_info {
    background-color: #fff;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
    transition: 0.3s ease;
    border: 1px solid #eee;
}

.succeed .stats_info:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
    transition: 0.3s ease;
}

/* COMMIT */

.commit .new-block {
    background-size: cover;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.33)),
        url(../img/bg.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
}

.commit .middle-section {
    max-width: 550px;
}

.commit .middle-section h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.commit .link-list-menu p {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
}

/* EXPLORE */

.grids5-info {
    border-radius: 6px;
    transition: 0.3s ease-in;
    display: block;
    height: 100%;
    background: #fff;
    border: 1px solid #eee;
    position: relative;
}

.grids5-info:hover{
    transform: translateY(-20px);
    box-shadow: 5px 10px 30px #aaa7a7;
    transition: 0.5s;
}

.grid-view .grids5-info p {
    font-size: 16px;
    line-height: 24.5px;
    color: #5a5a5a;
    margin-top: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;  
}

.blog-info {
    background: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.grids5-info:hover span{
    transform: translateX(5px);

}
.grids5-info:hover a{
    color: #dc4f72;
    text-decoration: none;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

.tag-label {
    padding: 5px 16px;
    display: inline-block;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}

.tag-label.red {
    background: rgba(238, 97, 120, 0.2);
    color: rgb(235, 32, 66);
}

.tag-label.green {
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
}

.tag-label.blue {
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}

.grid-view p.date {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    border-bottom: none;
    padding-bottom: 0px;
    position: absolute;
    top: 0;
    background: #dc4f72;
    padding: 15px;
    margin-bottom: 0;
    right: 0;
    margin-top: 0;
}

.grids5-info:hover a.zoom img {
    overflow: hidden;
    filter: grayscale(0);
    transition: 0.3s ease-in-out;
}

.grid-view .grids5-info img {
    width: 100%;
    display: block;
}

.grid-view img.news-image {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
a.zoom img {
    transition: 0.3s ease-in-out;
    filter: grayscale(1);
}

.grid-view .grids5-info h4 a {
    font-size: 22px;
    line-height: 27px;
    color: #2C3038;
    display: block;
    font-weight: 600;
}

.grid-view .grids5-info a:hover {
    color: #dc4f72;
    text-decoration: none;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

.blog-info a.btn-news {
    padding: 0;
    color: #dc4f72;
    transition: 0.3s ease-in-out;
    border-radius: 0;
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

/* PEOPLE */

.people .testimonials {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77), rgba(247, 249, 252, 0.77)), url(../img/b2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.testimonials {
    padding: 60px;
}

.testimonials .slider-info {
    max-width: 95%;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 50px;
    background-color: #fff;
    border-radius: 6px;
}

.testimonials .img-circle {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: #f3f6f9;
    border-radius: 50%;
    border: 3px solid #dc4f72;
}

.testimonials .name h4 {
    font-size: 18px;
    color: #dc4f72;
    font-weight: 400;
}

.testimonials .message{
    position: relative;
}

.testimonials .message p {
    font-size: 18px;
    line-height: 26px;
    color: #2C3038;
}

.testimonials .message span {
    font-size: 30px;
    color: #2C3038;
    opacity: 0.2;
    position: absolute;
    top: 0px;
    left: -40px;
    right: 0;
}

.owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.owl-carousel, .owl-carousel .owl-item {
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #dc4f72;
}

.owl-theme .owl-dots .owl-dot span {
    width: 40px;
    height: 5px;
    margin: 5px 5px;
    background: #fff;
    display: block;
    border: none;
    transition: opacity .2s ease;
    border-radius: 0;
    position: relative;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background: transparent;
    padding: 0;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
}
.owl-dots {
    margin-top: 0px;
    bottom: -55px;
    position: absolute;
    left: 0;
    right: 0;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    border: none;
}

.owl-theme .owl-nav [class*=owl-]:focus, .owl-theme:focus, .owl-dots:focus, .owl-dot:focus {
    outline: none;
    box-shadow: none;
}

/* COMMUNITY */

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}
button, .btn, select {
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}
.ml-2, .mx-2 {
    margin-left: 0.5rem !important;
}
.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
    
}

.btn-primary:hover{
    background-color: #d82c57;
    border-color: #d82c57;
    
}

/* FOOTER */

.footer-16-main {
    background-color: #f7f9fc;
}

.footer-16-main h3 {
    font-size: 20px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 700;
}

.footer-gd-16 li {
    display: block;
    list-style: none;
    margin: 10px 0;
}

.footer-gd-16 li a {
    color: #656f7b;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    text-transform: capitalize;
}

.footer-gd-16 li a:hover {
    color: #dc4f72;
    text-decoration: none;
    background-color: transparent;
}

.end-column {
    background-color: #fff;
    padding: 2em;
    border-radius: 6px;
    box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
}

.footer-16-main h4 {
    font-size: 18px;
    line-height: 25px;
    color: #2C3038;
    margin-bottom: 30px;
    font-weight: 500;
}

.subscribe input[type="email"] {
    background: #F7F9FC;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 78%;
    color: #2C3038;
    font-weight: 600;
    border-radius: 6px;
}
button, input {
    overflow: visible;
}
input, button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.footer-16-main form {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}

.subscribe button {
    text-align: center;
    background: #dc4f72;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 6px;
}

.footer-16-main p {
    line-height: 22px;
    color: #5a5a5a;
    font-size: 16px;
}

.footer-16-main .below-section {
    justify-content: space-between;
}

.below-section p a {
    color: #2C3038;
}

.below-section {
    border-top: 1px solid #eaeaea;
}

.below-section a:hover {
    color: #dc4f72;
    text-decoration: none;
    background-color: transparent;
}

.below-section ul.social li a {
    color: #2C3038;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

.below-section ul.social li a:hover{
    color: #dc4f72;
    text-decoration: none;
    background-color: transparent;
}

.below-section ul{
    margin: 0;
    padding: 0;
}

.below-section ul.social li {
    list-style: none;
    display: inline;
}

#movetop {
    display: none;
    position: fixed;
    bottom: 75px;
    right: 0px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 45px;
    background: #dc4f72;
    padding: 0;
    opacity: 0.7;
    transition: 0.3s ease;
}

#movetop:hover{
    opacity: 1;
}

#movetop span.fa {
    line-height: 45px;
    color: #fff;
    font-size: 22px;
}

#movetop span.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



